@use "../util/" as u;

.about {
  padding: u.rem(74) 0;

  @include u.breakpoint(desktop) {
    position: relative;
  }

  &__media {
    margin: u.rem(16) 0;
  }

  &__content {
    background-color: var(--white);
    padding: u.rem(16);
    text-align: center;

    @include u.breakpoint(desktop) {
      position: absolute;
      bottom: 5%;
      right: -5%;
      max-width: 600px;
      text-align: start;
      padding: u.rem(64);
    }
  }

  &__title {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: clamp(u.rem(32), u.rem(24) + 2.177vw, u.rem(48));
    font-weight: 300;
    line-height: 1;
    padding: u.rem(16) 0;
  }

  &__info {
    font-family: var(--font-secondary);
    opacity: 0.5;
  }
}
