@use "../util" as u;

.creations {
  padding: u.rem(32) 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__wrap {
    width: 100%;
    max-width: u.rem(1110);
    @include u.flex($dir: column, $align: center);
    margin-bottom: u.rem(32);

    @include u.breakpoint(desktop) {
      @include u.flex(row, center, space-between);
    }
  }

  &__title {
    font-size: clamp(2rem, 1.49rem + 2.177vw, 3rem);
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--font-primary);
  }

  &__grid {
    width: 100%;
    max-width: u.rem(1110);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: u.rem(16);
    margin-bottom: u.rem(32);

    @include u.breakpoint(desktop) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  &__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:hover .creations__overlay {
      opacity: 0.75;
      background-color: var(--white);
    }

    &:hover .creations__name {
      color: var(--black);
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: var(--black);
    opacity: 0.3;
    z-index: 1;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }

  &__name {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 2;
    color: var(--white);
    font-size: u.rem(24);
    font-family: var(--font-primary);
    text-transform: uppercase;
    line-height: 1;
    transition: color 0.3s ease;

    span {
      display: block;
    }

    @include u.breakpoint(desktop) {
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }

  .btn__desktop {
    display: none;

    @include u.breakpoint(desktop) {
      display: inline-block;
    }
  }

  .btn__mobile {
    display: inline-block;

    @include u.breakpoint(desktop) {
      display: none;
    }
  }
}
