@use "../util/" as u;

.header {
  background-image: url(../../assets/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  height: 100svh;
  padding: u.rem(32) u.rem(16);

  @include u.breakpoint(desktop) {
    height: u.rem(650);
    background-image: url(../../assets/images/desktop/image-hero.jpg);
    background-size: cover;
  }

  &__hero {
    border: 1px solid var(--white);
    color: var(--white);
    padding: u.rem(32);

    @include u.breakpoint(desktop) {
      width: 350px;
      margin: u.rem(36) 0;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
  }
}
