@use "../util/" as u;

.header {
  background-image: url("/assets/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100svh;
  padding: u.rem(32) u.rem(16);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @include u.breakpoint(desktop) {
    min-height: u.rem(650);
    background-image: url("/assets/images/desktop/image-hero.jpg");
  }
}

.header__centered {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  @include u.breakpoint(desktop) {
    align-items: flex-start;
  }
}

.header__hero {
  border: u.rem(3) solid var(--white);
  color: var(--white);
  padding: u.rem(32) u.rem(16);
  max-width: u.rem(375);

  @include u.breakpoint(desktop) {
    max-width: 50%;
    margin: auto 0;
  }
}

.header__title {
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-primary);
  font-size: clamp(u.rem(42), u.rem(30) + 2.993vw, u.rem(64));
  line-height: 1;
}
