@use "../util/" as u;

.nav {
  width: 100%;

  &__inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
  }

  &__items {
    position: fixed;
    inset: 0;
    height: 100svh;
    background-color: var(--black);
    padding: u.rem(32) u.rem(16);
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;

    @include u.breakpoint(desktop) {
      position: static;
      height: auto;
      padding: 0;
      background: none;

      transform: none;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;

      flex-direction: row;
      align-items: center;
      gap: u.rem(32);

      margin-left: auto;
    }
  }

  &__items--active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__item--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100% - u.rem(16), u.rem(375));
    margin: 0 auto u.rem(100);

    @include u.breakpoint(desktop) {
      display: none;
    }
  }

  &__item {
    width: 100%;
  }

  &__btn-open,
  &__btn-close {
    background: none;
    border: none;

    @include u.breakpoint(desktop) {
      display: none;
    }
  }

  &__link {
    font-size: u.rem(32);
    font-weight: 300;
    text-transform: uppercase;
    color: var(--grey-200);
    position: relative;
    display: inline-block;
    padding-bottom: u.rem(4);

    @include u.breakpoint(desktop) {
      font-size: u.rem(16);
      text-transform: none;
      font-weight: 700;
      color: var(--white);
    }
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: u.rem(2);
    background: var(--white);
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  &__link:hover::after,
  &__link:focus::after {
    width: 75%;
  }
}
