@use "../util/" as u;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-color: var(--black);
    padding: u.rem(32) u.rem(16);
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  &__items--active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__item--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: u.rem(100);
    width: min(100% - u.rem(16), u.rem(375));
    margin: 0 auto u.rem(100) auto;
  }

  &__link {
    font-size: u.rem(32);
    font-weight: 300;
    text-transform: uppercase;
    color: var(--grey-200);
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--white);
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }

  &__link:hover::after,
  &__link:focus::after {
    width: 75%;
  }
}
